body {
	display: grid;
	place-items: center;
	height: 100vh;
	width: 100vw;
}

body > * {
	width: 100%;
}

#copy-button {
	background: rgba(58, 58, 184, 0.575);
}

.p-message {
	word-break: break-all;
}